@font-face {
    font-family: "Socialico";
    src: url("../../fonts/socialico/Socialico.eot?") format("eot"),
    	 url("../../fonts/socialico/Socialico.woff") format("woff"),
   	 	 url("../../fonts/socialico/Socialico.ttf") format("truetype"),
    	 url("../../fonts/socialico/Socialico.svg#Socialico") format("svg");
    font-weight: normal;
    font-style: normal;
}