$header-height: 50px !default;
.m-header-bottom-holder {
	background-color: #fff;
}
.m-header {
	max-height: 90%;
	max-height: 90vh;
	&-top {
		border-bottom: 1px solid  #e6e9ed;
	}
	&-bottom {
		padding: 31px 0;
		transition: all 0.4s;
	}
	&-contacts {
		display: inline-block;
		line-height: $header-height;
		font-size: 12px;
		& + & {
			margin-left: 25px;
		}
		&:before {
			content: '';
			display: inline-block;
			vertical-align: middle;
			width: 19px;
			height: $header-height / 2; // !!
			background-position: center;
			background-repeat: no-repeat;
		}
		&--mail {
			&:before {
				background-image: url(../images/mail-icon.png);
			}
			&:hover:before {
				background-image: url(../images/mail-icon-active.png);
			}
		}
		&--phone {
			&:before {
				background-image: url(../images/phone-icon.png);
			}
			&:hover:before {
				background-image: url(../images/phone-icon-active.png);
			}
		}
	}
	&-logo {
		display: block;
		// width: 100%;
		float: left;
		padding-top: 5px;
		opacity: 0.6;
		margin-right: 30px;
		transition: all 0.3s;
		&:hover {
			opacity: 1;
		}
	}
	@include media-breakpoint-up(lg){
		&-logo {
			// width: auto;
		}
	}
	@include media-breakpoint-up(xl){
		&-logo {
			margin-right: (89 / 1170 * 100%);
		}
	}
}
.is-sticky {
	.m-header-bottom-holder {
		box-shadow: inset 0 -1px 0 #e6e9ed, 0 10px 10px rgba(0, 0, 0, 0.1);
	}
	.m-header {
		&-bottom {
			padding: 0;
		}
		&-logo {
			height: 20px;
			margin-top: 14px;
			margin-bottom: 14px;
			box-sizing: content-box;
			&-img {
				height: 100%;
			}
		}
	}
}