// Colors
//
// Grayscale and brand colors for use across Bootstrap.

$brand-main:             #506a85;
$brand-accent:           #17a78b;
$brand-gray-light-light: #f5f7fa;
$brand-gray-light-dark:  #f2f5f7;

// Typography
//

// Pixel value used to responsively scale all typography. Applied to the `<html>` element.
$main-ff: 'Source Sans Pro', Arial, sans-serif;
$line-height-base: 1.56;
$body-color: $brand-main;
$body-bg: #fff;
$margin-bottom-p: 15px;

$heading-font-family: 'Lato', sans-serif;
$heading-font-weight: 700;
$heading-color: $brand-main;

$link-color: $brand-main;
$link-color-hover: darken($brand-main, 10%);
$link-decoration: none;
$link-decoration-hover: none;


// Buttons
//
$btn-font-size: 15px;
$btn-font-weight: 700;
$btn-border-radius: 2px;
$btn-padding: 13px 25px;

$btn-color: #fff;
$btn-color-hover:  $btn-color;

$btn-bg: $brand-accent;
$btn-bg-hover: lighten($btn-bg, 10);

$btn-border: 1px solid $btn-bg;
$btn-border-color-hover: $btn-bg-hover;

// Components
//
$header-height: 40px;
$socials-height: $header-height;
